
.modal__background {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: absolute;
    background-color:rgba(219, 177, 123);
    align-self: center;
    border-radius: 12px;
    left: 25%;
    top: 25%;
    right: 25%;
    bottom:25%;
    box-shadow: 4px 10px 30px 0px rgba(0,0,0,0.41);

}

.modal__container {
    padding-top: 1rem;
    background-color:rgba(219, 177, 123);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;


}    
.modal__title {

    background-color: antiquewhite;
    height: 2.5rem;
    width: 500px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    padding-top: 1rem;
    border-radius: .5rem;
    box-shadow: 4px 10px 10px 0px rgba(0,0,0,0.41);
    padding-left: 1rem;
    font-size: large;
    font-weight: 600;
       
}

.modal__text-info {
    background-color: antiquewhite;
    height: 2.5rem;
    width: 500px;
    height: 235px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    padding-top: 1rem;
    border-radius: .5rem;
    box-shadow: 4px 10px 10px 0px rgba(0,0,0,0.41);
    padding-left: 1rem;
}

.modal__start-btn {
    color: white;
    line-height: 3rem;
    background-color: rgba(9, 163, 60, 0.856);
    width: 515px;
    height: 3rem;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font: 20px;
    margin-bottom: 1rem;
    box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.41);
}

.modal__credits {
    background-color: antiquewhite;
    height: 2rem;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    border-radius: .5rem;
    box-shadow: 4px 10px 10px 0px rgba(0,0,0,0.41);
    padding-left: 1rem;


}